body {
  background-color: #F3F7EB;
  color: #3E4A3A;
  font-family: 'Georgia', serif;
  font-size: 17px;
  line-height: 1.6;
}

.container {
  width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.card-white {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1#main-header {
  color: #4B5E4D;
  font-size: 30px;
  text-align: center;
}

h2.section-header {
  color: #6E8B5E;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 15px;
}

.intro-text, .section-content {
  text-align: center;
  max-width: 600px;
  margin: 10px auto;
}

.profile-image {
  display: block;
  max-width: 150px;
  height: auto;
  margin: 20px auto;
  border-radius: 50%;
}

a.external-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #A9CFA5;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a.external-link:hover {
  background-color: #4B5E4D;
}

.social-links {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  padding: 0 15px;
}

.social-link {
  color: #6E8B5E;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.social-link i {
  margin-right: 8px;
  font-size: 18px;
}

.social-link:hover {
  color: #4B5E4D;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
  .card-white {
    padding: 15px;
    margin-bottom: 15px;
  }
}

.intro-text {
  margin-bottom: 20px;
}
